<div class="toolbar">
	<div class="display-area">
		<img ng-click="sideNavCollapsed=!sideNavCollapsed" src="../../../../assets/images/hide-bar.png" style="padding: 0 13px;cursor: pointer;outline: none;">	
		<div class="grow">{{breadCrumb}}</div>
		<img src="../../../../assets/images/search.png" style="padding: 0 13px;">		
		<img src="../../../../assets/images/flag.png" style="padding: 0 13px;">
		<div style="font-size: 14px;">SG</div>		
		<img src="../../../../assets/images/dropdown.png" style="padding: 0 13px;">		
		<img src="../../../../assets/images/heartbeat.png" style="padding: 0 13px;">		

	</div>
	<div class="avatar-area">
		<div>{{vm.displayName}}</div>
		<img src="../../../../assets/images/avatar.png" style="padding: 0 13px;">	
		<a ng-click="vm.signOut()" style="cursor: pointer;" title="Logout">
			<img style="height: 35px;" src="../../../../assets/images/logout.svg" alt="Logout">
		</a>	
	</div>
</div>