toolbar {
	.toolbar {
		display: flex;
		height: 57px;
		align-items: stretch;
		border-bottom: 1px solid #d8d8d8;
		color: #4f6379;
		font-size: 21px;
		font-weight: 300;
		&>.display-area {
			flex-grow: 1;
		    display: flex;
		    align-items: center;
		}
		&>.avatar-area {
			width: 240px;
		    border-left: 1px solid #e7ecf1;
		    font-size: 19px;
		    font-weight: 500;
		    display: flex;
		    align-items: center;
		    padding-left: 25px;
		}
	}
}