@media (max-width: 600px) {
	toolbar {
		position: fixed;
		z-index: 4;
		top: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		.toolbar {
			font-size: 16px;
			&>.display-area {
				img.left {
					transform: rotate(180deg);
				}
				.flag-dropdown {
					display: none;
				}
			}
			&>.avatar-area {
				width: 95px;
				padding-left: 5px;
				font-size: 16px;
				.fullname {
					display: none;
				}
			}
		}
	}
}