toolbar {
	.toolbar {
		display: flex;
		height: 57px;
		align-items: stretch;
		border-bottom: 1px solid #d8d8d8;
		color: #4f6379;
		font-size: 21px;
		font-weight: 300;
		&>.display-area {
			flex-grow: 1;
		    display: flex;
		    align-items: center;
		    .flag-dropdown {
		    	display: flex;
		    	align-items: center;
		    	position:relative;
		    	.flag-dropdown-overlay {
		    		position: absolute;
		    		top: 0;
		    		bottom: 0;
		    		left: 0;
		    		right: 0;
		    		z-index: 3;
		    		outline: none;
		    		cursor: pointer;
		    	}
		    	.flag-dropdown-container {
				    position: absolute;
				    top: 36px;
				    left: 12px;
				    background: white;
				    z-index: 5; 
				    border: 1px solid #e7ecf1;
				    border-radius: 3px;
				    .flag-item {
				    	display: flex;
				    	align-items: center;
				    	padding: 4px;
				    	justify-content: space-between;
				    	outline: none;
				    	padding-right: 10px;
				    	cursor: pointer;
				    	&:hover {
							background-color: #f2f2f2;
				    	}
				    	img {
				    		height: 32px;
				    		width: 42px;
				    		border: 1px solid #e7ecf1;
				    		border-radius: 3px;
				    		margin-right: 10px; 
				    	}
				    }
		    	}
		    }
		}
		&>.avatar-area {
			width: 240px;
		    border-left: 1px solid #e7ecf1;
		    font-size: 19px;
		    font-weight: 500;
		    display: flex;
		    align-items: center;
		    padding-left: 25px;
		}
	}
}