<div class="toolbar">
	<div class="display-area">
		<img ng-click="sideNavCollapsed=!sideNavCollapsed" ng-class="{collapsed:sideNavCollapsed}" src="/assets/images/hide-bar.png" style="padding: 0 13px;cursor: pointer;outline: none;">	
		<div class="grow">{{breadCrumb}}</div>
		 <md-input-container md-no-float class="md-block">
          <input ng-if="vm.showSearch" style="position: relative;top:20px; left:30px;font-size: 12px;" ng-model="vm.search" placeholder="Search here">
        </md-input-container>
		<img ng-click="vm.showSearch = !vm.showSearch" src="/assets/images/search.png" style="padding: 0 13px;cursor: pointer;z-index: 1;cursor: pointer;outline: none;">
		<div class="flag-dropdown">
			<img ng-src="{{vm.activeFlag.url}}" style="padding: 0 13px; height: 32px;">
			<div style="font-size: 14px;">{{vm.activeFlag.country}}</div>		
			<img src="/assets/images/dropdown.png" style="padding: 0 13px;cursor: pointer;">
			<div class="flag-dropdown-overlay" 
				 ng-click="vm.flagShow=!vm.flagShow"  
				 outside-id="{{parameter.id}}" outside-click="vm.flagClose()">
			</div>
			<div class="flag-dropdown-container" ng-show="vm.flagShow">
				<div ng-repeat="flag in vm.flags" ng-click="vm.selectFlag(flag)" class="flag-item">
					<img ng-src="{{flag.url}}">
					<div style="font-size: 14px;">{{flag.country}}</div>
				</div>
			</div>
		</div>		
		<img src="/assets/images/heartbeat.png" style="padding: 0 13px;">		

	</div>
	<div class="avatar-area">
		<div style="padding: 15px; cursor: pointer; padding-right: 5px;font-size: 14px;" ui-sref="main.settings.profile">{{vm.displayName}}</div>
		<a class="avatar-circle" ui-sref="main.settings.profile" ng-if="!message.avatar">{{vm.avatarName}}</a>		
		<a ng-click="vm.signOut()" style="cursor: pointer;" title="Logout">
			<img style="height: 35px;" src="/assets/images/logout.svg" alt="Logout">
		</a>	
	</div>
</div>
<md-progress-linear id="toolbar-progress" class="md-warn" ng-if="$root.loadingProgress"
    md-mode="indeterminate">
</md-progress-linear>