<div class="toolbar">
	<div class="display-area">
		<img src="../../../../assets/images/hide-bar.png" style="padding: 0 13px;">		
		<div class="grow">Dashboard</div>
		<img src="../../../../assets/images/search.png" style="padding: 0 13px;">		
		<img src="../../../../assets/images/flag.png" style="padding: 0 13px;">
		<div style="font-size: 14px;">SG</div>		
		<img src="../../../../assets/images/dropdown.png" style="padding: 0 13px;">		
		<img src="../../../../assets/images/heartbeat.png" style="padding: 0 13px;">		

	</div>
	<div class="avatar-area">
		<div>Paul Michael</div>
		<img src="../../../../assets/images/avatar.png" style="padding: 0 13px;">		
	</div>
</div>