html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: 'Lato', sans-serif;  
  background-color: #fff;
}
* { box-sizing: border-box }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}
.grow {
  flex-grow: 1;
}

.dialog-content-broker {
   display: flex;
    height: 50px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.avatar-circle
{
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-right: 10px;
    background: rgb(130, 148, 167);
    color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
.legend {
  align-self: stretch;
}
.legend.vertical
{
  color: white;
  flex-flow:column;
  padding-left: 54px;
}
.progress-chart-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.progress-chart {
  width: 234px;
  margin-top: 20px;
  height: 234px;
  overflow: hidden;
  &.vertical {
    width: 190px;
    height: 190px;
    overflow: hidden;
  }
}

.pending-btn {
  padding: 5px 0;
  text-transform: uppercase;
  border: 1px solid #57c3ea;
  color: #57c3ea;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  min-height: 25px;
  text-align: center;
}

kyc-form form, profile-form form{
   display: flex;
   flex-flow: row wrap;
  .input {
    display: flex;
    flex-flow: column;
    margin: 10px;
    position: relative;
    label {
      font-size: 14px;
      color: #4f6379;
      margin-bottom: 12px;
    }
    div.error {
      font-size: 10px;
      padding-top: 4px;
      color: red;
    }
    input {
        height: 45px;
        width: 320px;
        border-radius: 3px;
        border: 1px solid #e7ecf1;
        padding: 15px;
        font-size: 14px;
        color: #4f6379;
        &.error {
          border: 1px solid red;
        }
    }
    .radio {
      display: flex;
      width: 320px;
      height: 45px;
      align-items: center;
      padding: 15px;
      border: 1px solid #e7ecf1;
      border-radius: 3px;
    }
    select {
      background: transparent;
      width: 320px;
      padding-left: 15px;
      font-size: 14px;
      color: #4f6379;
      border: 1px solid #e7ecf1;
      border-radius: 3px;
      height: 45px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      background: #fff;
    }
    .dropdown {
        position: absolute;
        right: 10px;
        top: 45px;    
    }
  }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}