<div ng-if="!vm.isBroker" class="user-dashboard-area">
	<div class="left">
		<div class="appointments">
			<h2>Appointments</h2>
			<div class="appointment" ng-repeat="appointment in vm.brokerAppointments">
				<div class="date">
					<div style="font-size: 24px;">27th</div>
					<div style="opacity: 0.4;padding: 4px; border-bottom: 1px dotted;">Oct 16</div>
					<div style="font-size: 12px; opacity: 0.3;padding: 3px;">07:20 am</div>
				</div>
				<img style="height:50px; padding-left: 30px; padding-right: 20px;" src="/assets/images/standard-chartered.png">
				<div class="detail">
					<div style="font-size: 14px;margin-bottom: 3px;">{{appointment.brokerageName}}</div>
					<div style="margin-bottom: 17px;opacity: 0.4;">{{appointment.meetingSubject}}</div>
					<div ng-switch on="appointment.status">
						<div ng-switch-when="CONFIRM">
							<a class="pending-btn">{{appointment.status}}</a>
							<a class="conference-btn">Join Conference</a>
						</div>
						<div ng-switch-when="PENDING">
							<a class="pending-btn">{{appointment.status}}</a>
							<a class="conference-btn">Join Conference</a>
						</div>
						<div ng-switch-when="completed">
							<a href="" class="completed-btn">Completed</a>
						</div>
						<div ng-switch-default>
							<a class="pending-btn">{{appointment.status}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="messages">
			<h2>New Messages</h2>
			<div class="message" ng-repeat="message in vm.messages">
				<img style="height:50px;padding-right: 20px;" src="/assets/images/standard-chartered.png">
				<div class="detail">
					<div>{{message.messageSubject}}</div>
					<div style="font-size: 12px; margin-bottom: 10px;margin-top: 10px;">From: {{message.messageFromName}} ({{message.messageFrom}})</div>
					<div style="opacity: 0.4;font-size: 14px; line-height: 25px;">{{message.messageContent}}</div>
				</div>
				<div class="time">
					<div style="white-space: nowrap;padding-right: 10px" am-time-ago="message.messageDate | amParse:'YYYY-MM-DD'"></div>
					<a style="text-decoration: none;cursor: pointer;" ng-click="vm.openMessage(message)">
						<img src="/assets/images/open-message.png">					
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="statistics">
			<h2>Account Statistics</h2>
			<progress-display />
		</div>
		<div class="brokerage">
			<h2>Brokerage Applications</h2>
			<div class="brokerage-item" ng-repeat="application in vm.brokerageApplications">
				<div class="broker-logo">
					<img src="/assets/images/posb.png">

				</div>
				<div class="detail">
					{{application.brokerageId}}
					<a class="pending-btn" style="margin-top: 10px;">{{application.applicationStatus}}</a>
				</div>				
			</div>
		</div>
	</div>
</div>
<div ng-if="vm.isBroker" class="broker-dashboard-area">
	<div class="left">
		<div class="appointments">
			<h2>Brokerage Application Request</h2>
			<div class="appointments-container">
				<div class="appointment" ng-repeat="appointment in vm.userAppointments">
					<img src="/assets/images/alvaro.png" style="height: 40px; width:40px;">			
					<div class="detail">
						<div style="font-size: 14px;">{{appointment.fname}} {{appointment.lname}}</div>
						<div style="margin-top: 3px;opacity: 0.4;">3 Days Ago</div>
						<a class="pending-btn" style="margin-top: 25px;">{{appointment.applicationStatus}}</a>
					</div>		
				</div>				
			</div>
		</div>
		<div class="messages">
			<h2>New Messages</h2>
			<div class="message" ng-repeat="message in vm.messages">
				<img style="height:50px;padding-right: 20px;" src="/assets/images/standard-chartered.png">
				<div class="detail">
					<div>{{message.messageSubject}}</div>
					<div style="font-size: 12px; margin-bottom: 10px;margin-top: 10px;">From: {{message.messageFromName}} ({{message.messageFrom}})</div>
					<div style="opacity: 0.4;font-size: 14px; line-height: 25px;">{{message.messageContent}}</div>
				</div>
				<div class="time">
					<div style="white-space: nowrap;padding-right: 10px" am-time-ago="message.messageDate | amParse:'YYYY-MM-DD'"></div>
					<a style="text-decoration: none;cursor: pointer;" ng-click="vm.openMessage(message)">
						<img src="/assets/images/open-message.png">					
					</a>
				</div>
			</div>

		</div>
	</div>
	<div class="right">
		<img src="/assets/images/broker-dashboard-background.png">
	</div>
</div>