<div ng-if="!vm.isBroker" class="user-dashboard-area">
	<div class="left">
		<div class="appointments">
			<h2>Appointments</h2>
			<div class="appointments-container">
				<div style="color:#4f6379; padding-top: 40px; font-size: 12px;" ng-if="!vm.brokerAppointments || !vm.brokerAppointments.length">
					No Application Requests to Show 
				</div>
				<div ng-click="vm.openCalendar()" class="appointment" ng-repeat="appointment in vm.brokerAppointments|orderBy:'-startTime'|limitTo:10">
					<div class="date">
						<div style="font-size: 24px;">{{appointment.startTime | amParse:'DD/MM/YYYY hh:mm' | amDateFormat:'Do'}}</div>
						<div style="opacity: 0.4;padding: 4px; border-bottom: 1px dotted;">{{appointment.startTime | amParse:'DD/MM/YYYY hh:mm' | amDateFormat:'MMM YY'}}</div>
						<div style="font-size: 12px; opacity: 0.3;padding: 3px;">{{appointment.startTime | amParse:'DD/MM/YYYY hh:mm' | amDateFormat:'hh:mm a'}}</div>
					</div>
					<img style="width:120px;padding-right: 20px;align-self: flex-start;padding-left: 20px;" ng-src="/assets/images/partnerLogos/{{appointment.brokerageName}}.png">
					<div class="detail">
						<div style="font-size: 14px;margin-bottom: 3px;">{{appointment.brokerageName}}</div>
						<div style="margin-bottom: 17px;opacity: 0.4;" class="message">{{appointment.meetingSubject}}</div>
						<div class="status-btns" ng-switch on="appointment.status">
							<div ng-switch-when="CONFIRM">
								<a class="pending-btn">{{appointment.status}}</a>
								<a class="conference-btn" ng-click="joinConference(appointment)">Join Conference</a>
							</div>
							<div ng-switch-when="PENDING">
								<a class="pending-btn">{{appointment.status}}</a>
							</div>
							<div ng-switch-when="completed">
								<a href="" class="completed-btn">Completed</a>
							</div>
							<div ng-switch-default>
								<a class="pending-btn">{{appointment.status}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="messages">
			<h2>Messages</h2>
			<div class="message-container">
				<div style="color:#4f6379; padding-top: 40px; font-size: 12px;" ng-if="!vm.messages || !vm.messages.length">
					No Messages to Show 
				</div>
				<div class="message" ng-repeat="message in vm.messages | orderBy:'-messageDate'| limitTo:10" ng-click="vm.openMessage(message)">
					<img ng-if="message.avatar" style="width:120px;padding-right: 20px;align-self: flex-start;" ng-src="{{message.avatar}}">
					<div class="avatar-circle" ng-if="!message.avatar">{{message.messageFrom|limitTo:1|capitalize}}</div>
					<div class="detail">
						<div>{{message.messageSubject}}</div>
						<div style="font-size: 12px; margin-bottom: 10px;margin-top: 10px;">From: {{message.messageFromName}} ({{message.messageFrom}})</div>
						<div style="opacity: 0.4;font-size: 14px; line-height: 25px;">{{message.messageContent}}</div>
					</div>
					<div class="time">
						<div style="white-space: nowrap;padding-right: 10px" am-time-ago="message.messageDate | amParse:'DD/MM/YYYY hh:mm'"></div>
						<a style="text-decoration: none;cursor: pointer;">
							<img src="/assets/images/open-message.png">					
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="statistics">
			<h2>Account Statistics</h2>
			<progress-display chart-id="dashboard-progress"/>
		</div>
		<div class="brokerage">
			<h2>Brokerage Applications</h2>
			<div class="brokerage-container">
				<div style="font-size: 12px;margin-top: 20px;" ng-if="!vm.brokerageApplications || !vm.brokerageApplications.length">
					No Brokerage Applications
				</div>
				<div class="brokerage-item" ng-repeat="application in vm.brokerageApplications| orderBy:'-startDate'| limitTo:10">
					<div class="broker-logo">
						<img style="width: 60px;" ng-src="/assets/images/partnerLogos/{{application.brokerageId}}.png">

					</div>
					<div class="detail">
						{{application.brokerageId}}
						<div style="margin-top: 5px;" am-time-ago="application.startDate | amParse:'YYYY-MM-DD'"></div>
						<a class="pending-btn" style="margin-top: 10px;">{{application.applicationStatus}}</a>
					</div>				
				</div>	
			</div>
		</div>
	</div>
</div>
<div ng-if="vm.isBroker" class="broker-dashboard-area">
	<div class="left">
		<div class="appointments">
			<h2>Brokerage Application Request</h2>
			<div class="appointments-container">
				<div style="color:#4f6379; padding-top: 40px; font-size: 12px;" ng-if="!vm.userAppointments || !vm.userAppointments.length">
					No Application Requests to Show 
				</div>
				<div class="appointment" ng-click="vm.goToRequests()" ng-repeat="appointment in vm.userAppointments|orderBy:'-date'|limitTo:6">
					<a class="overlay-link" ui-sref="main.brokerage"></a>
					<img ng-if="appointment.avatar" style="width:120px;padding-right: 20px;align-self: flex-start;" ng-src="{{message.avatar}}">
					<div class="avatar-circle" ng-if="!appointment.avatar">
						{{appointment.fname|limitTo:1|capitalize}}
						{{appointment.lname|limitTo:1|capitalize}}
					</div>
					<div class="detail">
						<div style="font-size: 12px;">{{appointment.fname}} {{appointment.lname}}</div>
						<div ng-if="appointment.date" style="margin-top: 3px;opacity: 0.4;" am-time-ago="appointment.date | amParse:'YYYY-MM-DD'"></div>
						<a class="pending-btn" style="margin-top: 5px;">{{appointment.applicationStatus}}</a>
					</div>		
				</div>				
			</div>
		</div>
		<div class="messages">
			<h2>Messages</h2>
			<div class="message-container">
				<div style="color:#4f6379; padding-top: 40px; font-size: 12px;" ng-if="!vm.messages || !vm.messages.length">
					No Messages to Show 
				</div>

				<div class="message" ng-repeat="message in vm.messages | orderBy:'-messageDate'|limitTo:3" ng-click="vm.openMessage(message)">
					<img ng-if="message.avatar" style="width:120px;padding-right: 20px;align-self: flex-start;" ng-src="{{message.avatar}}">
					<div class="avatar-circle" ng-if="!message.avatar">{{message.messageFrom|limitTo:1|capitalize}}</div>
					<div class="detail">
						<div>{{message.messageSubject}}</div>
						<div style="font-size: 12px; margin-bottom: 10px;margin-top: 10px;">From: {{message.messageFromName}} ({{message.messageFrom}})</div>
						<div style="opacity: 0.4;font-size: 14px; line-height: 25px;">{{message.messageContent}}</div>
					</div>
					<div class="time">
						<div style="white-space: nowrap;padding-right: 10px" am-time-ago="message.messageDate | amParse:'DD/MM/YYYY hh:mm'"></div>
						<a style="text-decoration: none;cursor: pointer;">
							<img src="/assets/images/open-message.png">					
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right">
		<!-- <img style="position:absolute;" src="/assets/images/broker-dashboard-background.png"> -->
		<img style="position: absolute;width: 250px;min-width: 250px; height:100%; z-index: 0;" ng-src="{{vm.bgurl}}">
		<div class="rightSide" style="max-height: 300px; z-index: 3;">
			<mini-calendar style="z-index: 3;">
        </div>

		<div class="appointments" style="z-index: 3;">
			<h2 style="color:white;">Appointment Slots</h2>	
			<div class="appointments-container">
				<div style="color:#4f6379; padding-top: 40px; font-size: 12px;" ng-if="!vm.brokerAppointments || !vm.brokerAppointments.length">
					No Appointments to Show 
				</div>	
				<div class="appointment" ng-repeat="appointment in vm.brokerAppointments|orderBy:'-startTime'|limitTo:10">
					<img ng-if="appointment.avatar" style="width:120px;padding-right: 20px;align-self: flex-start;" ng-src="{{message.avatar}}">
					<div class="avatar-circle" ng-if="!appointment.avatar">
							{{appointment.userFirstName|limitTo:1|capitalize}}
							{{appointment.userLastName|limitTo:1|capitalize}}
					</div>
					<div class="detail">
						<div style="font-size: 14px;">{{appointment.userFirstName}} {{appointment.userLastName}}</div>
						<div style="opacity: 0.4; margin-top: 3px;font-size: 13px;">{{appointment.displayTime}}</div>
						<a class="conference-btn">Start Conference</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>