<div class="messages-area">
	<div class="left">
		<div class="navigation">
			<a ui-sref-active="active" class="left-btn" ui-sref="main.messages.inbox"> Inbox </a>
			<a ui-sref-active="active" class="center-btn" ui-sref="main.messages.sent"> Sent </a>	
			<a ui-sref-active="active" class="right-btn"> Draft </a>	
			<img src="/assets/images/refresh.png" alt="Refresh" class="refresh" ng-click="vm.refresh()">
			<a ng-if="vm.isBroker" class="compose-btn" ng-click="vm.compose()">Compose</a>
		</div>
		<div ui-view>
		</div>
	</div>
	<div ng-if="messageView.activeInboxMessage && breadCrumb=='Messages - Inbox'" class="right send">
		<img class="close" src="/assets/images/close-message.png" alt="close" ng-click="vm.closeMessage('Inbox')">
		<div class="message">
			<img ng-if="message.avatar" style="width:120px;padding-right: 20px;align-self: flex-start;" ng-src="{{message.avatar}}">
			<div class="avatar-circle" ng-if="!message.avatar">{{messageView.activeInboxMessage.messageFromName|limitTo:1|capitalize}}</div>
			<div class="detail">
				<div>{{messageView.activeInboxMessage.messageSubject}}</div>
				<div style="font-size: 12px; margin-bottom: 10px;margin-top: 10px;">From: {{messageView.activeInboxMessage.messageFromName}} ({{messageView.activeInboxMessage.messageFrom}})</div>
				<div style="white-space: nowrap;padding-right: 10px" am-time-ago="messageView.activeInboxMessage.messageDate | amParse:'DD/MM/YYYY hh:mm'"></div>
				<div style="opacity: 0.4;font-size: 14px; line-height: 25px;padding-top: 20px;">{{messageView.activeInboxMessage.messageContent}}</div>
			</div>
		</div>
		<div class="reply" ngf-drag-over-class="'dragover'" ngf-drop="vm.upload($file)">
			<textarea name="reply" placeholder="Type your message here..." ng-model="messageView.reply" id="" cols="30" rows="2"></textarea>
			<a class="send-btn" ng-click="vm.sendMessage(messageView.activeInboxMessage, false)">Send</a>
		</div>
	</div>
	<div ng-if="messageView.activeSentMessage && breadCrumb=='Messages - Sent'" class="right send">
		<img class="close" src="/assets/images/close-message.png" alt="close" ng-click="vm.closeMessage('Sent')">
		<div class="message">
			<img ng-if="message.avatar" style="width:120px;padding-right: 20px;align-self: flex-start;" ng-src="{{message.avatar}}">
			<div class="avatar-circle" ng-if="!message.avatar">{{messageView.activeSentMessage.messageToName|limitTo:1|capitalize}}</div>
			<div class="detail">
				<div>{{messageView.activeSentMessage.messageSubject}}</div>
				<div style="font-size: 12px; margin-bottom: 10px;margin-top: 10px;">To: {{messageView.activeSentMessage.messageToName}} ({{messageView.activeSentMessage.messageToEmail}})</div>
				<div style="white-space: nowrap;padding-right: 10px" am-time-ago="messageView.activeSentMessage.messageDate | amParse:'DD/MM/YYYY hh:mm'"></div>
				<div style="opacity: 0.4;font-size: 14px; line-height: 25px;padding-top: 20px;">{{messageView.activeSentMessage.messageContent}}</div>
			</div>
		</div>
		<div class="reply" ngf-drag-over-class="'dragover'" ngf-drop="vm.upload($file)">
			<textarea name="reply" placeholder="Type your message here..." ng-model="messageView.reply" id="" cols="30" rows="2"></textarea>
			<a class="send-btn" ng-click="vm.sendMessage(messageView.activeSentMessage, true)">Send</a>
<!-- 			<a class="send-btn" ngf-select="vm.upload($file)">Upload</a>
 -->		</div>
	</div>
	<div ng-if="messageView.composing" class="right composing">
		<div style="background-color:#f2f6f8;font-size: 22px;padding: 24px 20px;position: relative;font-weight: 300;"> Compose 
		<img class="close" src="/assets/images/close-message.png" alt="close" ng-click="vm.closeCompose()">
		</div>
		<div ng-if="vm.composeMessage.messageFrom" style="position: absolute;"">To</div>
		<select type="text" name="to" ng-model="vm.composeMessage.messageFrom" placeholder="To" ng-options="mail for mail in vm.toList"/>
		<input type="text" name="subject" ng-model="vm.composeMessage.messageSubject" placeholder="Subject">
		<textarea ngf-drag-over-class="'dragover'" ngf-drop="vm.upload($file)" name="message" placeholder="Type your message here..." ng-model="vm.composeMessage.messageContent" cols="30" rows="20"></textarea>				
		<a class="send-btn" ng-click="vm.createMessage()">Send</a>
	</div>

</div>