<div class="messages-area">
	<div class="left">
		<div class="navigation">
			<a ui-sref-active="active" class="left-btn" ui-sref="main.messages.inbox"> Inbox </a>
			<a ui-sref-active="active" class="center-btn" ui-sref="main.messages.sent"> Sent </a>	
			<a ui-sref-active="active" class="right-btn"> Draft </a>	
			<img src="/assets/images/refresh.png" alt="Refresh" class="refresh" ng-click="vm.refresh()">
		</div>
		<div ui-view>
		</div>
	</div>
	<div ng-if="messageView.activeMessage" class="right">
		
	</div>
</div>