@media (max-width: 600px) {
.messages-area {
	display: flex;
	color: #4f6379;
	width: 100vw;
	flex-flow: column;
	.left {
		display: flex;
		flex-flow: column;
		padding: 10px;
		flex-grow: 1;
		.messages-list.hide {
			display: none;
		}
		.navigation {
			display: flex;
			align-items: center;
			.refresh {
				margin-left: 15px;
				cursor: pointer;
				outline: none;
			}
			.left-btn,.right-btn,.center-btn {
				display: flex;
				align-items: center;
				height: 35px;
				width: 65px;
				color: rgba(79,99,121,0.4);
				font-size: 12px;
				cursor: pointer;
				border:1px solid #e7ecf1;
				justify-content: center;
				text-decoration: none;
				&.active {
					background-color: #3aafa5;
					color: white;
					border: none;
				}
			}
			.compose-btn{
				height: 35px;
				width: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 3px; 
				color: white;
				cursor: pointer;
				outline: none;
				background-color: #3498db;
				margin-left: 5px;
				&:hover {
					background-color: #569bca;
				}
			}
		}
		.inbox,.sent {
			max-height: initial;
			min-height: initial;
			max-width: 100vw;
			padding-right: 20px;
			overflow: auto;
			.message {
				display: flex;
				outline:none;
				padding: 15px;
				padding-right: 20px;
				margin-top: 20px;
				border: 1px solid #e7ecf1;
				border-radius: 5px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 5px solid #3498db;
				padding-bottom: 10px;
				max-width: 800px;
				.detail {
					flex-grow: 1;
				}
				.time {
					display: flex;
					align-items: flex-start;
					font-size: 14px;
					opacity: 0.4;
				}
				&.active {
					background-color: #f2f6f8;
				}
			}
		} 
		.pagination {
			display: flex;
			justify-content: center;
			max-width: 100vw;
			margin-top: 10px;
			font-size: 12px;
			.pages{
				padding: 5px;
				margin-right: 5px;
				border:1px solid #e7ecf1;
			}
			.previous, .next {
				padding: 5px;
				margin-right: 5px;
				cursor: pointer;
				background-color: #3aafa5;
				color: white;
				text-decoration: none;
				outline: none;
			}
		}
	}
	.right {
		display: flex;
		flex-flow: column;
		width: 100vw;
		background: #f2f6f8;
		padding: 15px;
		position: relative;
		height: calc(100vh - 112px);
		z-index: 6;
		&.send {
			justify-content: space-between;
		}
		.compose-hide {
			visibility: hidden;
		}
		.compose-to {
			top: 75px;
		    z-index: 7;
		    left: 16px;
		    font-size: 12px;
		    display: block !important;
		}
		&.composing {
			padding: 0;
			input {
				border: 1px solid #e7ecf1;
				font-size: 14px;
				padding: 22px 16px;
			}
			select {
		      background: transparent;
		      padding: 22px 16px;
		      font-size: 14px;
		      color: #4f6379;
		      outline: none;
		      border: 1px solid #e7ecf1;
		      -webkit-appearance: none;
		      -moz-appearance: none;
		      appearance: none;
		      position: relative;
		      background: #fff;
		      background-repeat: no-repeat;
		      background-position: 525px 20px;
		      cursor: pointer;
		      background-size: 24px;

		      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAFZ5JREFUeJzt3We0bVlZ5+HfuRWBIovkqAQRUEHARkVCq0gQELFJjYoyEFtBDC1GwAEt3SZEm4YWBWHQ0pIVaYkqKCgIIkkFRDJIhiooqqjQH9a9Usi6xQ1n7bn2Oc8zxv8Lo6gx37XWfOeus/easwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMb5hup51amjBwLsSZeuXlRdd/RAgM+7YfXx6vzqOdWJY4cD7DEXq17Z1GPeXV1t7HCAqq+sPtA0MQ/l96sDIwcF7BmnVC/sC3vMW6vLjxwU7HdXrv6lL5yYh/LYamfc0IA94ITqGc33mNc3fS0AbNhlqzc3PzEP5RHDRgdsu53qiV14j3ll09cDwIZcvHp1Fz4xD+Uhg8YIbK+d6lc7sh7zoqavCYCFnVq9rCObmIdyvyEjBbbVz3V0PebZ+fExLOrE6rkd3cQ8vzq3utuA8QLb50c6+h5zfvXk/PgYFnGgekrHNjHPr86uvm3jowa2yX069h7jx8ewgJ2miXU8E/P86tPVLTY8dmA7fGd1TsffZ/z4GHbRwzv+SXkoH69utNHRA2t36+qz7V6f+fHNDh/2pge3e5PyUD5YXXuTRQCrddPq9Ha/z/zAJouAveb72v1JeSjvqq6ysUqANbp+9dGW6THnVnffXCmwd9y1aQIt9QHg/OofqsttqiBgVa5Zva9le8zZ1e02VRDsBbetzmrZiXkor60uuZmygJW4YvXPbabHfKb65s2UBdvt5tUZbWZiHspfVBfZRHHAcJep3thme8wnqxtvojjYVjeoPtZmJ+ahPL86afkSgYFOq/66MT3mw9X1li8Rts+1qvc3ZmIeyh80nf4F7D2nVC9pbI95b3WNheuErXKl6h2NnZiH8vjs5AV7zYlN+/WP7i/nV2+rrrBsubAdLlO9qfGT8oL55UUrBjbpQPWkxveVC+YN1aWXLBq2wUsbPxnn8tNLFg1sxE71mMb3k7m8ZMG6YSt8a9O7sqMn41wesGDdwPIe1vg+Mpezmnof7Ht3a/lNf44l51X3WLBuYDlLbCO+Gzm3+q4F64atc7/GT8y5fK66/YJ1A7vvexvfOw6X71+wbthaD2n85JzLmdUtF6wb2D13aXeO9V0iP7Zg3bD1fqnxk3QudvKC9dvkNuJHm0csWDfsCTvVYxs/WediJy9YrxHbiB9pHpv9ReCIHKie0vhJO5f3VFdfrnTgGNywcduIf6n8flNPA47QSdXzGj955/K26vLLlQ4cha+oPtD4vjCX5zbtQggcpVOrlzV+Es/l9dnJC0Zb0zbi/z4vbephwDG6ePXqxk/mubyyuthypQMX4rLVmxvfB+byN029CzhOa57oL2w6ZQzYnDX/h8GbmnoWsEuuXP1L4yf3XJ6Z7/lgU9b81eA7mr6WAHbZmn/s87t5zQeWdlLTD+tGz/e5fKCpRwELWfPrPr+WDwGwlAPVUxs/z+fyseoGy5UOHLLmDT9+fsG6Yb/aqX6r8fN7Lmc09SRgQ9a85eePLlg37Edr3SL8rKZeBGzYXVvnMcLnV/95wbphP1nrIWHnNB08BAzyvY1vBIdrDndesG7YD9Z6TPj51X0XrBs4Qg9ufDOYy1nVbRasG/ayu7Xev/A9aMG6gaP08MY3hbmcUd1subJhT/q26uzGz9+5PGzBuoFjsFP9ZuObw1w+mleE4Ejdovp04+ftXB6TV31hlQ5UT258k5jL+6trLVY57A03qj7e+Pk6lyflWF9YtROr5zS+WczFNqFweNeuPtj4eTqXZ2e7b9gKp1YvaXzTmIuDQuCLXaV6Z+Pn51xenAO/YKucVv1145vHXF6do0LhkC+r3tL4eTmXVzX1EmDLXKZ6Y+ObyFxe1vSXCtjPLlH9bePn41ze2NRDgC11xeqfG99M5vLcptPNYD+6SPUXjZ+Hc3l7U+8Attw1m36FP7qpzOWp+WUx+89J1fMbP//m8r6mngHsEV/d9D7+6OYyl9/Ku8XsHweqpzV+3s3lo029Athjblad3vgmM5dfWrBuWIud6nGNn29zOb266XKlA6Pdpvps45vNXH58wbphDR7V+Hk2l89Wt16wbmAl7tx0Wt/opjOX+y1YN4z0k42fX3M5p/rOBesGVua+jW88czm3+u4F64YR7t/4uXW43GfBuoGV+tHGN5+5nF19+4J1wyZ9T3Ve4+fVXH5kwbqBlfuFxjehuXy66VQ02Ga3a73H+v78gnUDW2Cn+vXGN6O5fKL6muVKh0V9U/WZxs+jufxaXr0FmhrB7zW+Kc3lX6vrLFc6LOJrmz7Ajp4/c/ndLP7ABZxYPavxzWku76quulzpsKuuU32o8fNmLs+sTliudGBbnVK9qPFNai7/WF1uudJhV1y1enfj58tcXphjfYELcVrTEaCjm9VcXlddcrnS4bh8edMH1dHzZC6vrC62XOnAXnHp6g2Nb1pzeXl10eVKh2NyyaYPqKPnx1z+vmlOAxyRKzQdCTq6ec3lBdXJy5UOR+Wi1SsaPy/m8ramuQxwVK7RdDTo6CY2l6fnx0yMd3LTB9LR82Eu722awwDH5PrVRxrfzObyhLzOxDgnNH0QHT0P5vKR6quWKx3YL76++lTjm9pcHr1g3XA4O00fQEc//3P5VNOcBdgVt2q9xwg/dLmyYdajG//cz+XM6lsWrBvYp+7Ueo8R/qEF64YLemjjn/e5fK6644J1A/vcvVvnyWbnVfdcsG6o6YPm6Gf9cM//vRasG6CqH258wzvcfwHdYcG62d/u2To//J5fPXDBugG+wM81vunNxXegLOEOTR8wRz/fc/nZBesG+CI71a82vvnN5VPVTZYrnX3mlk0fLEc/13P5lbwKCwywUz2x8U1wLt6DZjfcuPpk45/nufxOFn9goBOqZzS+Gc7FTmgcj+tVH278czyXP8xOmMAKnNJ01OjopjgXe6FzLK5evafxz+9c/jRnYQArcrHqrxrfHOfyhpyGxpG7fNMHx9HP7Vz+Msf6Ait0qer1jW+Sc3EeOkdizc/w3x0cH8AqXb56a+Ob5Vxe1PR1BcxZ81+x3to0twBW7eqt9/vTZ1UnLlc6W+rkpu/WRz+fc3lPdbXlSgfYXWv+BfXvVQeWK50tc0LTr+pHP5dz+XDTXALYKjdpvccI/0beoWbde1l8smkfAoCttOZd1H5xwbpZvzXvZnlm09wB2Gpr3kf9QQvWzbqt9TyLz1W3X7BugI1a80lq912wbtbpvzT+uZvLedU9FqwbYIi1nqV+TnWXBetmXe7d+GfucHnAgnUDDPUzjW+yczmruu2CdbMOd2r6wDf6eZvLQxesG2C4neq/N77ZzuWM6ubLlc5gt6o+2/jnbC6PXq5sgPXYqZ7Q+KY7l49VN1yudAa5aXV645+vuTw+r6QC+8gJ1dMb33zn8oHqK5YrnQ27fvXRxj9Xc3l6jvUF9qGTqxc0vgnP5R3VlZcrnQ25ZvW+xj9Pc3lBjvUF9rGLVq9ofDOey5uryy5XOgu7YvX2xj9Hc3l507MPsK9dqumo09FNeS6vri6+XOks5DLVGxr//MzlddUllysdYLt8efVPjW/Oc/mz6iLLlc4uO616VeOfm7n8U9OzDsAFXK16d+Ob9Fz+qDppudLZJadUL2788zKXd+dYX4DDum71ocY367k8NccIr9mJ1bMb/5zM5UPVdZYrHWBv+Lqmo1BHN+25/Hbe2V6jA9WTGv98zOWTTc80AEfgm1vvMcKPXLBujt5O9RuNfy7m8pnqm5YrHWBv+o7We4zwTyxYN0fnFxv/PMzl7Op2C9YNsKf9p9Z7jPAPLlg3R+ZBjX8O5nJe9T0L1g2wL9y/8Q39cE3+7gvWzYW7b+OfgcPl/gvWDbCv/NfGN/W5+DPvGHdpvcf6/tSCdQPsS7/c+OY+Fz/02qzbVmc1/r7P5b8tWDfAvrVT/a/GN/m5fKL62uVK56CbV2c0/n7P5XF5RRRgMSdUf9D4Zj8Xm70s6wbVxxp/n+fyf7JJFMDiTqr+pPFNfy62e13Gtar3N/7+zuX52SYaYGMu2nSk6ujmPxcHvuyuK1XvaPx9nctf5KAogI27ZPXaxi8Cc3Hk6+64bPWmxt/Puby2usRypQNwYS5X/UPjF4O5vKLpLxUcm4tXf9P4+ziXf2h69gAY6KrVuxq/KMzl/1UnL1f6nnVq9bLG37+5vLO6ymKVA3BUrl39a+MXh7n836a3FzgyJ1bPbfx9m8sHm541AFbka5rexx+9SMzlf+cd8SNxoHpK4+/XXD7e9IwBsELf2LQz3+jFYi7/Ix8CLsxO9djG36e5fLq6xXKlA7Abvr1pj/7Ri8ZcfmbBurfdIxp/f+ZydtMzBcAWuHt1buMXj7k8cMG6t9VDGn9f5nJu9d0L1g3AAn6w8QvIXM6r7rVg3dvmfo2/J4fLDyxYNwAL+snGLyJzOae644J1b4u7td6/1PzEgnUDsAGPavxiMpczq1stV/bqfWvrPdb3kQvWDcCG7FT/s/GLylxOr75+udJX6z80/bJ+9PWfy2/nbQ2APeNA9bTGLy5z+Uh1/eVKX50bNb1TP/q6z+WpOdYXYM85qfqjxi8yc3lfdc3lSl+Nr2zaTW/09Z7LH+VYX4A96yLVnzd+sZnL26srLlb5eFdp2kd/9HWey581nT8AwB52ieo1jV905vKG6jLLlT7Ml1Vvafz1nctrmk4eBGAfWPOC9KrqtOVK37hLVH/b+Os6lzc3PQsA7CNr/pP0S6pTFqt8c9b8lcu/VFderHIAVm3NP0p7dtPRuNvqpOqPG38d5/LBpnsPwD625tfSntR2vpa25tcuP950zwFg1RvTPKbt2phmzRsvfbrpXgPAv/nW1nuM8MMWrHu3PbLx12suZzXdYwD4Ims+nObBC9a9W9Z6+NK51XctWDcAe8D3N37BOly+b7myj9taj19e+3UDYEUe0vhF63D/JXvXBes+Vnevzmv89ZnLjy1YNwB70C81fvGay1nVf1yw7qN1u9b724lHLFg3AHvUTvXYxi9iczmj+oblSj9i31h9pvHXYy6PbbvengBgRQ5UT2n8YjaXj1c3XK70L+lrq0/MjGsN+f22c/8EAFbkpOp5jV/U5vKBxuxod53qQ8cw3k3kuW33DooArMip1csav7jN5Z1tdk/7q1bv3uUadisvzbG+AOyyi1evbvwiN5e3tJlT7b68+scB9R1J/ibH+gKwkMs2HSE7erGby2uajt5dyiWr162gzrm8qeneAMBirtx0lOzoRW8uf950BO9uu2j18hXUN5d3VFdaoGYA+CJf0fQDvNGL31z+uOmHi7vl5OpPVlDXXN5fXWsXawWAL+kG1ccavwjO5WntzmtwJ1RPX0E9c/lY0z0AgI27edOmPKMXw7k8ruPbCGenesIK6pjLGU3XHgCGuW3T9ryjF8W5POo46nr0CsY/l7OarjkADHfX1nuM8E8dQz0/vYJxz+Wc6i7HUA8ALOZ7G79AHi73P4o6HrCC8R4u9z2KOgBgYx7c+EVyLudV33ME479H6z3W90FHMH4AGObhjV8s53J29R0XMu7bV59bwTjn8rALGTcArMJO9ZuNXzTn8pnqm2fGfMvqzBWMby6PybG+AGyJA9WTG794zuWT1dddYKw3Pvi/jR7XXJ6UY30B2DInVs9p/CI6lw9V162uV314BeOZy7NzrC8AW+rU6iWNX0zn8u7qPSsYx1xeXJ1yDNcbAFbjtOqvG7+obktedfCaAcDWu0z1xsYvrmvPGw9eKwDYM65Y/XPjF9m15u0HrxEA7DnXbDrCdvRiu7a87+C1AYA966urjzZ+0V1LPnrwmgDAnnez6vTGL76jc3p10+O8lgCwVW5Tfbbxi/CofLa69XFfRQDYQnduOuJ29GK86ZxTfecuXD8A2Fr3bfyCvOncZ1euHABsuR9t/KK8qfzILl0zANgTfqHxi/PS+fldu1oAsEfsVL/e+EV6qfxajvUFgFk71e81frHe7fxuFn8AuFAnVs9q/KK9W3lmdcKuXiEA2KNOqV7U+MX7ePPCHOsLAEfltKajcUcv4seaV1YX2/WrAgD7wKWrNzR+MT/a/P3BsQMAx+gKTUfljl7UjzRvOzhmAOA4XaPpyNzRi/uXynsPjhUA2CXXrz7S+EX+cPlI9VWLVQ8A+9jXV59q/GL/7/Op6iYL1g0A+96tWtcxwmdW37JkwQDA5E6t4xjhz1V3XLhWAOAC7l2d17jF/7zqXotXCQB8kR9u3AeAB26gPgDgMH6uzS/+P7uRygCAw9qpfrXNLf6/kpP9AGAVdqontvzi/ztZ/AFgVU6ontFyi/8f5lhfAFilU5qO4N3txf9Pq5M3WAcAcJQuVv1Vu7f4/2WO9QWArXCp6vUd/+L/dwf/XQDAlrh89daOffF/68F/BwCwZa5evaejX/zfU11twHgBgF1yverDHfni/+GD/x8AYMvdpCM7RviT1Y0HjREAWMAtm47uPdzif+bBfwYA2GPu0HSE779f/D9X3X7guACAhd2zLzxG+LzqHkNHBABsxA/1+Q8ADxg8FmCAE0cPABji8X1+g58njBwIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHKn/D1v/hXT0ceW1AAAAAElFTkSuQmCC);
		    }
			textarea {
				border: 1px solid #e7ecf1;
				max-height: 500px;
				padding:16px;
			}
			.send-btn {
				align-self: flex-end;
				margin-top: 3px;
			}
		}
		.close {
			position: absolute;
			right: 30px;
			top: 30px;
			cursor: pointer;

		}
		.message {
			display: flex;
		}
		
		textarea {
			border: none;
			overflow: auto;
			outline: none;
			box-shadow: none;
			resize: none;
			color: #4f6379;
			font-size: 12px;
			height:40px;
			flex: 1;
			border-radius: 3px; 
		}
		.message-attachment {
			position: absolute;
		    bottom: 150px;
		    background: white;
		    padding: 15px;
		    img {
		    	height: 16px;
			    padding-left: 10px;
			    border-left: 1px solid gray;
			    margin-left: 10px;
		    }
		}
		.reply {
			display: flex;
		}
		.send-btn{
			height: 40px;
			width: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3px; 
			color: white;
			cursor: pointer;
			outline: none;
			background-color: #3498db;
			margin-left: 10px;
			&:hover {
				background-color: #569bca;
			}
		}
	}
}
}