<form name="kycForm">
	<div ng-repeat="field in vm.fields" ng-if="vm.isBroker">
		<div ng-switch on="field.questionType">
			<div class="input" ng-switch-when="DROPDOWN">
				<label for="kyc-{{field.questionId}}">
					{{field.questionDesc}}
					<span ng-if="field.requireField==='REQUIRED'">*</span>
				</label>
				<input disabled name="kyc-{{field.questionId}}" type="text" ng-model="field.answerDesc">
			</div>
			<div class="input" ng-switch-when="RADIO">
				<label for="kyc-{{field.questionId}}">
					{{field.questionDesc}}
					<span ng-if="field.requireField==='REQUIRED'">*</span>
				</label>
				<input disabled name="kyc-{{field.questionId}}" type="text" ng-model="field.answerDesc">
			</div>
			<div class="input" ng-switch-default>
				<label for="kyc-{{field.questionId}}">
					{{field.questionDesc}}
					<span ng-if="field.requireField==='REQUIRED'">*</span>
				</label>
				<input disabled name="kyc-{{field.questionId}}" type="text" ng-model="field.displayAnswerText">
			</div>
		</div>
	</div>	
	<div ng-repeat="field in vm.fields" ng-if="!vm.isBroker">
		<div ng-switch on="field.questionType">
			<div class="input" ng-switch-when="DROPDOWN">
				<label for="kyc-{{field.questionId}}">
					{{field.questionDesc}}
					<span ng-if="field.requireField==='REQUIRED'">*</span>
				</label>
				<select ng-disabled="vm.isBroker" name="kyc-{{field.questionId}}" ng-model="field.selectedValue" ng-options="option.answerDescription for option in field.answersList">
				</select>
				<div ng-if="field.error" class="error">{{field.error}}</div>		
				<img src="/assets/images/dropdown.png" class="dropdown">
			</div>
			<div class="input" ng-switch-when="RADIO">
				<label for="kyc-{{field.questionId}}">
					{{field.questionDesc}}
					<span ng-if="field.requireField==='REQUIRED'">*</span>
				</label>
				<div class="radio">
					<label ng-repeat="option in field.answersList">
						{{option.answerDescription}}
						<input ng-disabled="vm.isBroker" type="radio" ng-value="{{option.answerId}}" ng-model="field.answerId" ng-required="field.requireField==='REQUIRED'">
					</label>			
				</div>
				<div ng-if="field.error" class="error">{{field.error}}</div>		
			</div>
			<div class="input" ng-switch-default>
				<label for="kyc-{{field.questionId}}">
					{{field.questionDesc}}
					<span ng-if="field.requireField==='REQUIRED'">*</span>
				</label>
				<input ng-class="{error: field.error}" ng-disabled="vm.isBroker" name="kyc-{{field.questionId}}" type="{{field.validationType}}" ng-model="field.answerText" ng-required="field.requireField==='REQUIRED'">
				<div ng-if="field.error" class="error">{{field.error}}</div>
			</div>
		</div>
	</div>	
</form>