#bottomFullFooter {
	display:none;
}
#userContactDetails {
	display: none;
}

#userSelector {
	margin: 0px;
	background: #f9fbfc;
	md-select-value {
	    margin-top: -15px;
	}
	md-option {
		height: 80px;
		padding: 15px;
		padding-bottom: 20px;
		padding-top: 0px;
	}
}
@media (max-width: 600px) {
	#bottomFullFooter {
		.md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled] {
		background-color: rgba(240,240,240,1);
		}
	}
	#primaryApp {
		display: none;
	}
	.contactedUsers {
		display: none;
	}
	.userSel {
	    left: 50px !important;
	    top: 140px !important;
		md-option {
			height: 80px;
			padding: 15px;
			padding-bottom: 20px;
			padding-top: 0px;
			background: #f9fbfc !important;
			border-bottom: solid 1px #e5e9ee;
		}
	}
	#userContactDetails {
		display: block;
	}
	.md-steppers-header-region {
		display: none;
	}
	.menubar {
	    max-width: 100vw;
	}
	.right-stat {
		display: none;
	}
	#bottomFooter {
		display: none;
	}
	#bottomFullFooter {
		display: block;
		position: fixed;
		bottom: 50px;
		z-index: 0;
		background: none;
		left: 0px;
	}
	.footerBottomBtn {
		flex-grow: 1;
		margin: 0px;
		padding: 0px;
		height: 80px;
		font-size: 16px;
	}
	.appointment {
		outline: none;
		display: flex;
		padding: 15px;
		margin-top: 20px; 
		padding-top: 20px;
		padding-bottom: 20px;
		cursor: pointer;
		.detail {
			display: flex;
			flex-flow: column;
			margin-left: 10px;
		}
		.pending-btn {
			padding: 5px 0;
			text-transform: uppercase;
			border: 1px solid #57c3ea;
			color: #57c3ea;
			border-radius: 3px;
			font-size: 12px;
			cursor: pointer;
			text-align: center;
			min-height: 25px;
		}
	}
}