<style>
.ticked {
    background: url(../../../../assets/images/ticked.png) no-repeat;
    background-size: 34px;
}
.ticked.grey {
    background: url(../../../../assets/images/tickedgrey.png) no-repeat;
    background-size: 34px;
}
.unticked {
    background: url(../../../../assets/images/unticked.png) no-repeat;
    background-size: 34px;
}
.unticked.grey {
    background: url(../../../../assets/images/untickedgrey.png) no-repeat;
    background-size: 34px;
}
</style>

<div layout="row" class="mainArea">
    <div class="contactedUsers" ng-if="isBroker">
        <div class="contactedUsersTitle">Contacted Users</div>
        <div>
            <input name="search" ng-model="vm.searchUsername" type="search" ng-change="vm.changeUsers()" placeholder="Search" class="searchBar">
        </div>
        <div class="appointment ng-scope" ng-class='{active: $index==vm.selectedIndex}' ng-repeat="appointment in vm.userAppointmentsFiltered" ng-click="vm.selectUser($index)">
<!--             <img src="/assets/images/alvaro.png" style="height: 40px; width:40px;">         
 -->            <div class="detail">
                <div style="font-size: 14px;" class="ng-binding">{{appointment.fname}} {{appointment.lname}}</div>
                <!-- <div style="margin-top: 3px;opacity: 0.4;">3 Days Ago</div> -->
                <a class="pending-btn ng-binding" style="margin-top: 4px;">{{appointment.applicationStatus}}</a>
            </div> 
        </div>
    </div>
    <div class="right-stat" ng-if="!isBroker">
        <img style="width:250px;height:100%;position: absolute;" src="/assets/images/sidebar-background.png">
        <div style="position:absolute;right:15px;left:10px;">
            <div><progress-display chart-id="brokerage-progress" is-vertical="true"/></div>
             <div class="contact-brokerage">
                <div style="position: relative;display: flex; flex-flow: column;">
                    <h2 style="color:white;">Brokerage Applications: </h2>
                    <input type="text" placeholder="Search"> 
                    <img src="/assets/images/search.png" alt="Search" style="position: absolute;right:2px;top:40px;">   
                    <div style="display: flex;flex-flow: column;">
                        <div style="display: flex;background: white;border: none;border-radius: 3px;padding: 20px;margin-bottom: 10px;" ng-repeat="item in vm.contactedBrokers|limitTo:3">
                            <img style="width: 60px; height:36px;margin-right: 15px;" ng-src="/assets/images/partnerLogos/{{item.brokerageId}}.png" alt="">
                            <div style="display: flex; flex-flow: column;">
                                <div style="font-size: 14px;opacity: 0.4">                              {{item.brokerageId}}
                                </div>
                                <div class="pending-btn" style="margin-top: 10px;">
                                    {{item.status}}        
                                </div>
                            </div> 
                            
                        </div>
                    </div>            
                </div>
            </div>
            
        </div>
    </div>
    <div flex layout="column">
        <md-stepper id="stepper-demo" ng-class="{'rightSideBar': isBroker}" md-linear="!isBroker" style="min-height: 79vh;">
        <div ng-if="isBroker">
        <md-step md-label="Account Summary" class="accSummary">
            <md-step-body layout="column">
            <div layout="row">
                <div class="appointment ng-scope" layout="column">
                <div class="detail" layout="row" ng-if="vm.userAppointment" style="max-width: 90px;">
                    <div style="font-size: 14px;" class="ng-binding">{{vm.userAppointment.fname}} {{vm.userAppointment.lname}}</div>
                    <!-- <div style="margin-top: 3px;opacity: 0.4;">3 Days Ago</div> -->
                    <a class="pending-btn ng-binding" style="margin-top: 10px;">{{vm.userAppointment.applicationStatus}}</a>
                </div>
                <div class="container"></div>
                </div>
            </div>
            <div layout="row" style="margin: 20px; ">
            <div flex="50" style="margin-right: 30px; ">
                <span class="title">Download Documents</span>
                <div class="document-container">
                    <div style="color:#4f6379; padding-top: 40px; font-size: 12px;" ng-if="!vm.brokeragesDetails.document || !vm.brokeragesDetails.document.length">
                        No uploaded Documents for this user.
                    </div>
                    <div ng-class="{documentTile:true,selected:vm.hasDocument(document)}" ng-click="vm.toggleDocument(document)" ng-repeat="document in vm.documents" ng-if="document.documentID" class="documentTile">
                        <div style="float:left; padding:10px;">
                            <div class="header">{{document.categoryName}}</div>
                            <div class="description">Click to select/de-select</div>
                        </div>
                        <div style="float: right; border-left: solid 1px #e7ecf1;">
                            <img src="/assets/images/selected.png" class="selected">
                            <a ng-href="/kyck-rest/document/bulkDownload?documentNames={{document.documentName}}&userId={{vm.userAppointment.email}}">
                                <img src="/assets/images/download.png"/>                                
                            </a>
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px;display: flex;">
                    <a ng-click="vm.toggleAllDocuments()" class="select-all-btn">
                        {{vm.selectedDocumentNames.length!=vm.brokeragesDetails.document.length ? 'Select All' : 'Clear All'}}
                    </a>
                    <a ng-href="{{vm.getDownloadLink()}}" class="download-all-btn">
                        Download Selected
                    </a>
                </div>
            </div>
            <div flex="50">
                <span class="title">Appointment Slots</span>
                <div class="appointmentTile" ng-repeat="slot in vm.userSlots">
                    <div style="float:left; padding:10px;">
                        <div class="header">{{slot.startTime | date:'dd MMM yy, HH:mm a'}}</div>
                        <a class="pending-btn ng-binding">{{slot.status}}</a>
                    </div>
                    <div style="float: right; border-left: solid 1px #e7ecf1;">
                        <span ng-if="slot.status==='PENDING'">
                            <div class="actnItem" ng-click="vm.updateMeetingStatus('CONFIRM')">CONFIRM</div>
                            <div class="actnItem" ng-click="vm.updateMeetingStatus('RESCHEDULE')">RESCHEDULE</div>
                        </span>
                        <span ng-if="slot.status=='CONFIRM'">
                            <div class="actnItem" ng-click="vm.showVideoDialog()" style="line-height:22px;">JOIN VIDEO<br/>CONFERENCE</div>
                        </span>
                    </div>
                </div>
            </div>
            </div>
            </md-step-body>
        </md-step>
        </div>
        <div ng-if="!isBroker">
            <md-step md-label="Select Broker">
                <md-step-body layout="row" layout-wrap>
                    <h3 class="partnersHeader">Premium Partners</h3>
                    <div ng-repeat="partner in ::vm.partners | filter:{brokerageCategory:'PREMIUM'}" ng-class="{'centerAlign': vm.premiumPartnersCount}">
                        <div class="partnerLogo" ng-click="vm.toggleSelected(partner)" ng-class="{'selected': partner.selected , 'deactivated': partner.status}">
                            <img class="premiereIcon" src="/assets/images/premiere.png"/>
                            <center><img ng-src="{{partner.img}}"/></center>
                        </div>
                    </div>
                    <h3 class="partnersHeader">All Partners</h3>
                    <div style="display: flex; width: 100%; justify-content: center;">
                    <div ng-repeat="partner in ::vm.partners | filter:{brokerageCategory:'REGULAR'}" style="margin: 20px;">
                        <div class="partnerLogo" ng-click="vm.toggleSelected(partner)" ng-class="{'selected': partner.selected , 'deactivated': partner.status}">
                            <center><img ng-src="{{partner.img}}"/></center>
                        </div>
                    </div>
                    </div>
                </md-step-body>
            </md-step>
        </div>
        <div ng-if="isBroker">
            <md-step md-label="Personal Details">
                <md-step-body style="min-height:700px;">
                    <profile-form ng-class="{error:vm.personalDetailsError}" is-broker="isBroker" user-email-id="vm.userAppointment.email"/>
                </md-step-body>
            </md-step>
        </div>
        <div ng-if="isBroker">
            <md-step md-label="KYC">
                <md-step-body style="min-height:700px;">
                    <kyc-form ng-class="{error:vm.kycerror}" is-broker="isBroker" user-email-id="vm.userAppointment.email"/>
                </md-step-body>
            </md-step>
        </div>
        <div ng-if="!isBroker || isBroker">
            <md-step md-label="Documents">
                <md-step-body>
                    <div class="flex-wrapper" style="height: calc(100vh - 90px); margin-bottom: -90px; margin-top: 20px;">
                        <div ng-repeat="document in ::vm.documents">
                            <document-pane is-broker="true" style="float: left;" document="document"></document-pane>
                        </div>  
                    </div>
                </md-step-body>
            </md-step>
        </div>

        <div ng-if="!isBroker">
            <md-step md-label="Personal Details">
                <md-step-body style="min-height:700px;">
                    <profile-form ng-class="{error:personalDetailsError}" is-broker="isBroker" user-email-id="vm.userAppointment.email"/>
                </md-step-body>
            </md-step>
        </div>
        <div ng-if="!isBroker">
            <md-step md-label="KYC">
                <md-step-body style="min-height:700px;">
                    <kyc-form ng-class="{error:vm.kycerror}"/>
                </md-step-body>
            </md-step>
        </div>
        <div ng-if="!isBroker">
            <md-step md-label="Selection of Timeslot">
                <md-step-body layout="column" flex>
                <!-- <ang-accordion one-at-a-time="true">
                <collapsible-item item-title="Some Heading 1" initially-open="true">
                    <div>This is regular html code</div>
                </collapsible-item>
                <collapsible-item item-title="Some Heading 2">
                    <div>This is regular html code</div>
                </collapsible-item>
                <collapsible-item item-title="Some Heading 3"> -->
                    <div ng-repeat="partner in selectedPartners" style="min-height: 800px; height: 800px;">
                    
                    <img ng-src="{{partner.img}}" alt="{{partner.brokerageName}}"/>
                    <span>{{partner.brokerageName}}</span>
                    <img src="../../../../assets/images/calendaricon.png"/>
                    <div style="min-height: 70vh; max-height: 70vh; height: 70vh;">
                        <md-event-calendar md-events="vm.events" md-event-click="vm.eventClicked($selectedEvent)" md-label="title" md-show-create-link="true" md-create-event-click="vm.eventCreate($date)" md-create-disabled="dis" class="md-primary">
                            <md-event-calendar-header class="md-center">
                                <md-event-calendar-prev></md-event-calendar-prev>
                                <md-event-calendar-title></md-event-calendar-title>
                                <md-event-calendar-next></md-event-calendar-next>
                                <!-- <md-event-calendar-today></md-event-calendar-today> -->
                            </md-event-calendar-header>
                        </md-event-calendar>
                    </div>
                    </div>
                <!-- </collapsible-item>
                </ang-accordion>
                </md-step-body> -->
            </md-step>
        </div>
        <div ng-if="isBroker">
            <md-step md-label="Validation Reports">
                <md-step-body layout="column" flex>
                    <div style="min-height: 800px; height: 800px;">
                        <div class="validation-report-count">
                            <div class="stat accepted">
                                {{vm.validationAcceptedCount}}
                            </div>
                            <div class="stat rejected">
                                {{vm.validationRejectedCount}}
                            </div>
                            <div class="stat total">
                                {{vm.validationTotalCount}}
                            </div>

                        </div>
                        <div class="validationReport" ng-repeat="report in vm.validationReports">
                            <div>
                                <div class="title">{{report.name}}
                                </div>
                                <div class="description">{{report.description}}
                                </div>
                                <table class="checklist-table" ng-if="report.checklistValue.length">
                                    <tr ng-repeat="checklistValue in report.checklistValue">
                                        <td>{{checklistValue.name}} :</td>
                                        <td> {{checklistValue.value}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <div ng-click="toggleReport($index)" class="ticked" ng-class='{grey: report.status != "PASS"}'></div>
                                <div ng-click="toggleReport($index)" class="unticked" ng-class='{grey: report.status =="PASS"}'></div>
                            </div>
                        </div>
                    </md-step-body>
                </md-step>
            </div>
        </div>
        </md-stepper>

        <footer>
            <div layout="row" class="footerBtns" layout-align="start center" ng-if="!isBroker">
                <md-button class="md-raised md-back" ng-click="vm.backStep()" ng-show="vm.activeStep>1">Back</md-button>
                <md-button ng-if="!isBroker" class="md-raised md-success" ng-click="vm.nextStep()" ng-disabled="(vm.activeStep==5 && !vm.timeslotSelected) || (vm.activeStep==1 && selectedPartners.size==0)">
                    <span ng-show="vm.activeStep<5">Next</span>
                    <span ng-show="vm.activeStep==5">Submit</span>
                </md-button>
                <md-button ng-if="isBroker" class="md-raised md-success" ng-click="vm.nextStep()" ng-disabled="(vm.activeStep==5 && !vm.timeslotSelected) || (vm.activeStep==1)">
                    <span ng-show="vm.activeStep<5">Next</span>
                    <span ng-show="vm.activeStep==5">Submit</span>
                </md-button>
                <!-- <md-button class="md-raised md-edit-form" ng-click="vm.editForm()">Edit Form</md-button> -->
            </div>
            <div layout="row" class="footerBtns" layout-align="start center" ng-if="isBroker">
                <md-button class="md-raised md-success" ng-click="vm.nextRequestStep()">
                    <span ng-show="vm.activeStep==1">Start</span>
                    <span ng-show="vm.activeStep>1">Accept</span>
                </md-button>
                <md-button class="md-raised md-success" ng-click="vm.submitApplication('APPROVED')" ng-show="vm.activeStep==1" ng-disabled="!vm.allVerified">
                    <div>Approve</div>
                </md-button>
                <md-button class="md-raised md-warn" ng-click="vm.submitApplication('REJECT')" ng-show="vm.activeStep==1" ng-disabled="!vm.allVerified">
                    <div>Reject</div>
                </md-button>
            </div>
        </footer>

    </div>
    <div layout="column" class="rightSide" ng-if="isBroker" flex style="background: url(../../../../assets/images/broker-dashboard-background.png) no-repeat; background-color: #47ada4; overflow: scroll;">
        <md-event-calendar>
            <md-event-calendar-header class="md-center">
                <md-event-calendar-prev></md-event-calendar-prev>
                <md-event-calendar-title></md-event-calendar-title>
                <md-event-calendar-next></md-event-calendar-next>
            </md-event-calendar-header>
        </md-event-calendar>
        <h2 style="color: white;margin: 20px; margin-bottom: 0px;" ng-if="vm.usermessages">Messages</h2>
        <span ng-repeat="msg in vm.usermessages">
            <div class="msg-requests {{msg.class}}">
                <div>{{msg.msg}}</div>
                <div class="datetime">{{msg.date | date:'dd MMM yy, HH:mm a'}}</div>
            </div>
        </span>
        <input type="text" name="compose" placeholder="Add your message" class="input" style="margin: 10px; margin-left:18px; padding: 10px; border-radius: 7px;">
    </div>
</div>