<div layout="row">
  <div flex="50" class="headerProgress">
    <div class="titleProgressHeader">Application Completion</div>
    <div layout="row">
    	<div flex="25">
		    <ol>
		    	<li class="active">Brokerages</li>
		    	<li>Documents</li>
		    	<li>Personal Details</li>
		    	<li>KYC</li>
		    	<li>Selection Timeslot</li>
		    </ol>
	    </div>
	    <div flex="25">
		    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" ng-show="true">
			</canvas>
		</div>
	</div>
  </div>
  <div flex="50" class="headerProgress">
    <div class="titleProgressHeader">Authenticity of Documents</div>
    <ol>
    	<li>Brokerages</li>
    	<li>NRIC or NIF</li>
    	<li>Passport</li>
    	<li>Address</li>
    	<li>Salary Slip</li>
    	<li>Salary Slip</li>
    	<li>Provident Fund</li>
    	<li>Bank Statement</li>
    </ol>
  </div>
</div>