<md-dialog aria-label="List dialog" style="max-width:500px; width: 90%;">
  <md-dialog-content style="margin: auto; height:400px; width: 100%; background: white;">
<div class="inviteUsersDialog">
 <span class="heading">Invite</span>
 <hr/>
 <form name="projectForm" style="overflow:hidden;">
	 <md-input-container class="md-block" style="margin-top: 30px; float: left; width: 90%; font-size: 14px;">
        <label>Add email address here to invite…
        </label>
        <input type="email" name="extraEmail" ng-model="extraEmail"
               minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-required/>

        <div ng-messages="projectForm.extraEmail.$error" role="alert">
          <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
            Please enter a valid email ID.
          </div>
        </div>
      </md-input-container>
	<span style="float: right; margin-top: 40px; color: #4f6379; cursor: pointer;" ng-click="addEmail()">
   <img src="/assets/images/add.png" />
  </span>
 </form>
 <hr ng-if="addedEmails.length"/>
 <div>
   <div ng-repeat="addedEmail in addedEmails">
   	<span class="addedEmail">{{addedEmail}}</span>
  	<span ng-click="removeEmail(addedEmail)" style="float:right;">
      <img src="/assets/images/remove.png" />
    </span>
    <hr/>
   </div>
 </div>
 </div>
  </md-dialog-content>
  <md-dialog-actions style="background: #3bada5; color: white;">
    <md-button ng-click="closeDialog()" class="md-primary" style="margin:auto;">
      Join &amp; Start
    </md-button>
  </md-dialog-actions>
</md-dialog>