.block-chain {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-flow: column;
	border-radius: 5px;
	left:0;
	right:0;
	z-index: 5;
	.top-bar {
	    color:white;
		background-color: #4f6479;
		height: 60px;
		display: flex;
		align-items: center;
		padding-left: 15px;
		position: relative;
		.action {
			position: absolute;
			left:20px;
			top: -25px;
			height: 40px;
			width: 40px;
			border-radius: 4px;
			background-color: #4f6479;
			cursor: pointer;
			text-align: center;
			outline: none;
		}
	}
	.blocks {
		 padding-top: 10px;
		 padding-bottom: 10px;
		 overflow-x: scroll;
		 background-color: #fff;
		.block-wrapper {
			display: inline-block;
			position: relative;
			&::after{
				content: ".....";
			    position: absolute;
			    top: 20px;
			    right: -18px;
			    opacity: 0.4;
			}
			.info {
			    position: fixed;
			    border-radius: 5px;
			    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
			    background: #ffffff;
			    padding: 10px;
			    padding-top: 5px;
			    text-align: center;
			    width: 150px;
			    display: none;
			    color: rgba(70, 100, 121, 0.8);
			    z-index: 7;
			    font-size: 11px;
			    bottom: 84px;
				&::after {
				  content: " ";
				    width: 0;
				    height: 0;
				    bottom: -7px;
				    border-left: 7px solid transparent;
				    border-right: 7px solid transparent;
				    border-top: 7px solid #f5f5f5;
				    position: absolute;
				    left: calc(50% - 7px);
				}
			}
			.block {
				height: 60px;
				margin-left: 20px;
				width: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				color: white;
				position: relative;
				&:hover {
					.info {
						display: block;
					}
					.block-top, .block-left, .block-right, .block-number {
						transition: all 0.75s;
					}
					.block-top {
						transform: rotate(90deg) translateX(-5px);
					}
					.block-left {
						transform: rotate(-30deg) translateX(-5px);
					}
					.block-right {
						transform: rotate(210deg) translateX(-5px);
					}
					.block-number {
						transform: translateY(-5px);
					}
				}
				.block-top, .block-left, .block-right {
				    width: 0;
				    height: 0;
				    border: 12px solid transparent;
				    border-bottom: 20px solid #CAEAFF;
				    position: absolute;
					&:after {
						content: '';
					    position: absolute;
					    left: -12px;
					    top: 20px;
					    width: 0;
					    height: 0;
					    border: 12px solid transparent;
					    border-top: 20px solid #CAEAFF;
					}
				} 
				.block-top {
				    transform: rotate(90deg);
				    top: 6px;
				    left: 35px;
				}
				.block-right {
				    transform: rotate(210deg);
				    top: 39px;
				    left: 22px;
				}
				.block-left {
				    transform: rotate(-30deg);
				    left: 0;
				    top: 11px;
				}
				.block-number {
					color: white;
				    z-index: 1;
				    height: 16px;
				    width: 16px;
				    font-size: 10px;
				    line-height: 16px;
				    text-align: center;
				    position: absolute;
				    top: 13px;
				    left: 23px;
				}
			}
		}
	}
}