$pale-grey: #e7ecf1;

.document-icon {
	min-height: 50px;
	min-width: 30px;
	display: block;
    margin-top: 40px;
    margin-left: 10px;
}

.document {
	margin: 10px;
	min-height: 200px;
	min-width: 200px;
	max-width: 400px;
	//height: 225px;
	width: 380px;
	box-sizing: border-box;
	border: solid 1px #e7ecf1;
	border-radius: 5px;
	background-color: #FFFFFF;
	//box-shadow: 3px 3px 3px #c3c3c3;
}

.document-details {
	vertical-align: middle;
	line-height: 25px;
	padding: 20px;
}

.document-action {
  height: 90px;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	background-color: #f5f9fa;
	padding: 30px;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	opacity: 0.75;
	font-family: Lato;
  display: flex;
  align-items: center;
}

.document-upper {
	box-sizing: border-box;
	min-height: 120px;
	min-width: 180px;
}

.red-circle {
  display: block;
  background: red;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.blue-circle {
  display: block;
  background: #3C94D6;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.dragover {
    border: 5px dashed $pale-grey;
}

.crop-suggestion {
  //width: 800px;
  height: 50px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f5f9fa;
  border: solid 1px $pale-grey;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height:350px;
}