<div class="document">
	<div layout="row" class="document-upper">
		<div class="document-icon">
			<img ng-src="{{document.iconUrl}}"></img>
		</div>
		<div layout="column" class="document-details">
			<span style="font-weight: bold"> {{ document.title }} </span>
			<div layout="row">
			 	<figure class="red-circle"></figure>
			 	<span style="font-weight: 100;font-size: 12px;">{{ document.docType }}</span>
			 </div>
			<span>{{ document.comment }}</span>
		</div>
	</div>
	<div class="document-action" ngf-drag-over-class="'dragover'" ngf-drop="upload($file)">
		<span>Drag and drop your file here or 
		<md-button ngf-select="upload($file)" class="md-primary md-raised" style="background-color: #3598DB">Upload</md-button>
 		</span>
	</div>
</div>