<div class="document">
	<div class="document-upper">
		<div class="document-icon">
			<img ng-src="/assets/images/documentTypes/{{vm.document.categoryCode}}.png" alt="">
		</div>
		<div layout="column" class="document-details">
			<span> {{ vm.document.categoryName + ' ' + vm.document.documentTypeName }} </span>
			<span>{{ vm.document.comment}}</span>
		</div>
	</div>
	<div class="document-action" ng-if="!vm.document.documentID || vm.document.replaceAction" ngf-drag-over-class="'dragover'" ngf-drop="vm.upload($file, vm.document)">
		<span ng-if="vm.isBroker" class="upload">Document not uploaded.</span>
		<span ng-if="!vm.isBroker" class="upload mo-hide">
			Drag and drop your file here or 
			<md-button ngf-select="vm.upload($file, vm.document)" class="md-primary md-raised"
					   style="background-color: #3598DB;min-width:0;width:63px;font-size:12px;">	Upload
			</md-button>
			<md-button class="md-secondary md-raised" ng-if="vm.document.replaceAction" 
					   ng-click="vm.document.replaceAction = false"
					   style="min-width:0;width:63px;font-size:12px;">Cancel</md-button>
 		</span>
 		<span ng-if="!vm.isBroker" class="uploadIcons">
			<div class="uploadIcon">
				<img src="/assets/images/gdrive.png">
			</div>
			<div class="uploadIcon">
				<img src="/assets/images/gdrive.png">
			</div>
			<div class="uploadIcon">
				<img src="/assets/images/gdrive.png">
			</div>
			<div class="uploadIcon">
				<img src="/assets/images/gdrive.png">
			</div>
		</span>
	</div>
	<div class="document-action" ng-if="vm.document.documentID && !vm.document.replaceAction">
		<div class="view" ng-click="vm.preview(vm.document)">View</div>
		<div ng-if="!vm.isBroker" class="replace" ng-click="vm.replace(vm.document)">Replace</div>
		<a class="download" ng-if="vm.isBroker" ng-href="/kyck-rest/document/bulkDownload?documentNames={{vm.document.documentName}}&userId={{vm.userId}}">
            Download <img src="/assets/images/download.png"/>                                
        </a>
	</div>
</div>