<div style="width: 350px;">
	<div style="height: 40px; display: table-cell;">
		<div>Passport Back Page.jpg</div>
		<div>Size: 	3.0mb</div>
	</div>
	<div style="height: 270px; display: table-cell;">
		<img></img>
	</div>
	<div style="height: 70px; background-color: #f5f9fa; border-radius: 5px; border: solid 1px #e7ecf1;  display: flex; flex-flow: row; align-items: center; text-align: center;">
		<div style="width: 50%">View</div>
		<div style="width: 2px; border: solid 1px #e7ecf1;"></div>
		<div style="width: 50%">Delete</div>
	</div>
</div>