.email-from {
	font-weight: bold;
	display: inline-block;
}

.md-tab.md-active {
	background-color: #40B2A7;
	color: rgb(250,250,250);
}

md-tabs.md-default-theme {
	color: #FFFFFF;
}

.email-summary {
	border-radius: 5px;
	border: solid 1px #e7ecf1;
	margin-bottom: 15px;
	margin-top: 15px;
	display: flex;
	max-height: 130px;
	border-left: solid #3498db;
}

message-summary:focus {
    background-color: #f2f6f8;
    outline: none;
    border: 0;
}

.email-subject {
	float: left;
	overflow: hidden;
	position: relative;
	max-height: 50px;
	padding-right: 1em;

	margin-top: 10px;
	font-weight: 600;
	font-size: 16px;
	opacity: 0.4;
	font-family: Lato;
	line-height: 1.56;
	color: #4f6379;
}

.email-subject:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}

.email-subject:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: white;
}

md-content {
	background-color: #FFFFFF;
}

.email-reply {
	display: flex;
	background-color: #f2f6f8;
}

.email-icon {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 20px;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: solid 1px #e7ecf1;
}

.email-content {
	margin-top: 35px;
}

.email-body {
	margin-top: 15px;
	margin-right: 35px;
	line-height: 25px;
	font-size: 16px;
}