<div layout="column">
	<div layout="row">
	<div layout="column" flex>
		<md-content>
			<md-tabs md-no-ink-bar md-dynamic-height style="margin: 40px;">
				<md-tab ng-repeat="tab in ::vm.tabs" label="{{tab.title}}">
							<message-summary message="message" ng-click="vm.showReplyScreen(message)">
							</message-summary>
							<message-summary message="message" ng-click="vm.showReplyScreen(message)">
							</message-summary>
							<message-summary message="message" ng-click="vm.showReplyScreen(message)">
							</message-summary>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
	<div layout="row" class="email-reply" ng-show="vm.currentMessage" flex>
		<div class="email-icon">
			<!-- <img src="../../../../assets/images/1024-px-standard-charteredsvg.png"></img> -->
		</div>
		<div class="email-content">
			<span style="font-weight: bold;">{{vm.currentMessage.from}}</span>
			<div style="margin-top: 5px;">
				{{vm.currentMessage.time}}
			</div>
			<div class="email-body">
				{{vm.currentMessage.body}}
			</div>
		</div>
	</div>
	</div>

</div>