.access {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: #7b868a;
    font-size: 16px;
    margin-bottom: 45px;
    .access-container {
    	border: 1px solid #e7ecf1;
    	border-radius: 5px;
    	display: flex;
    	flex-flow: column;
    	margin-top: 45px;
    	width: 540px;
    	align-items: center; 
    }
}