.main-container {
	display: flex;
	width: 100%;
	.navigation {
		display: flex;
	}
	.area {
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		&>.menu-bar {
			display: flex;
		}
		&>.display-area {
			flex-grow: 1;
			width: 100%;
			height:calc(100% - 70px);
			display: flex;
			flex-flow: column;
		}
	}
}