<div class="main-container">
		<div  ng-if="mainLoading" class="overlay">
			<div class="dialog">
				<img src="/assets/images/loading.gif" alt="" height="40px" width="40px">
				{{mainLoadingMessage}}
			</div>
		</div>
		<div  ng-if="shouldShowDocumentPreview" class="preview-overlay">
			<div class="dialog">
				<div class="close" ng-click="hideDocumentPreview()">×</div>
				<div ng-class="{top:true, ocr:OCRView}">
					<canvas id="pdf-canvas" ng-if="pdfView && !OCRView"></canvas>
					<img id="image" ng-if="!pdfView && !documentPreviewLoading && !OCRView" class="preview" ng-src="{{documentPreviewURL}}" alt="">
					<div ng-if="documentPreviewLoading && !OCRView" style="display: flex;background-color: #e5eff1;align-items: center; padding: 10px;">
						<img src="/assets/images/loading.gif" style="margin-right: 20px;height:40px; width:40px;" alt="">
						Please wait image is loading...
					</div>
					<div ng-if="OCRView" class="ocr-view">
						<div class="input" ng-repeat="field in viewingDocument.OCR">
							<label>
								{{field.name}}
							</label>
							<input disabled type="text" ng-model="field.value" ng-if="field.name!='Photo'">
							<div class="overlay" style="background: transparent;cursor: pointer;" ng-if="field.name!='Photo'" ng-attr-title="{{field.value}}"></div>
							<img ng-src="{{field.value}}" ng-if="field.name=='Photo'">
						</div>
					</div>
				</div>
				<div class="bottom" style="max-width:300px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" ng-if="!canEnableOCR">
					{{viewingDocument.documentName}}
				</div>
				<div class="bottom ocr" ng-if="canEnableOCR">
					<div ng-if="viewingDocument.OCR || setUpload" class="buttons">
						<div ng-class='{"preview-btn":true, "active":!OCRView}' ng-click="closeOCRView()">
							<img ng-if="!documentPreviewLoading && !pdfView" ng-src="{{documentPreviewURL}}" style="overflow:hidden;" alt="Preview">
						</div>
						<div ng-class='{"ocr-btn":true, "active":OCRView}' ng-click="showOCRView()" ng-if="viewingDocument.OCR.length">
							<img src="/assets/images/ocrsearch.png" alt="">
							<div style="position: absolute; top:32px; left:32px;font-size: 10px;">OCR</div>
						</div>						
					</div>
					<div style="font-size: 14px;max-width:300px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" class="mo-hide">
						{{viewingDocument.documentName}}					
					</div>
					<div class="mochange">
						<img style="margin-right: 18px;cursor: pointer;outline: none;" ng-click="toggleCropper()" ng-src="/assets/images/crop{{cropping?'':'-expand'}}.png" title="Crop" ng-if="!OCRView && !documentPreviewLoading" alt="Crop" class="moheight25">
						<img style="margin-right: 18px;cursor: pointer;outline: none;"  ng-click="rotateCropper(-10)" src="/assets/images/retake.png" title="Rotate Left" ng-if="!OCRView && !documentPreviewLoading && cropping" alt="Rotate">
						<img style="margin-right: 18px;cursor: pointer;outline: none;transform: rotate(180deg);"  ng-click="rotateCropper(10)" src="/assets/images/retake.png" title="Rotate Right" ng-if="!OCRView && !documentPreviewLoading && cropping" alt="Rotate">
						<img style="margin-right: 18px;cursor: pointer;outline: none;"  ng-click="resetCropper()" src="/assets/images/crop-delete.png" title="Reset" ng-if="!OCRView && !documentPreviewLoading" alt="Reset" class="moheight25" />
						<a class="verify-btn" ng-click="uploadCroppedImage()" ng-if="!OCRView && (documentPreviewURL!=originalPreviewURL || setUpload) && !documentPreviewLoading && !cropping" ng-disabled="documentPreviewURL==originalPreviewURL">Upload</a>
						<a class="verify-btn" ng-click="showOCRView()" ng-if="!OCRView && viewingDocument.OCR.length && !cropping && documentPreviewURL==originalPreviewURL">Verify OCR</a>
						<a class="done-btn" ng-click="hideDocumentPreview()" ng-if="(OCRView || !viewingDocument.OCR.length) && !cropping && !setUpload">Done</a>
					</div>
				</div>
			</div>
		</div>

		<div ng-class="{'navigation-wrapper':true, expanded: sideNavExpanded}" ng-click="sideNavExpanded = false;">
			<navigation/>			
		</div>
		<div class="area">
			<div class="menubar"><toolbar /></div>
			<div class="display-area" ui-view></div>
		</div>
</div>
<block-chain />