<div class="main-container">
		<div  ng-if="mainLoading" class="overlay">
			<div class="dialog">
				<img src="/assets/images/loading.gif" alt="" height="40px" width="40px">
				{{mainLoadingMessage}}
			</div>
		</div>
		<div  ng-if="shouldShowDocumentPreview" class="preview-overlay">
			<div class="dialog">
				<div class="close" ng-click="hideDocumentPreview()">×</div>
				<div ng-class="{top:true, ocr:OCRView}">
					<img ng-if="!documentPreviewLoading && !OCRView" class="preview" ng-src="{{documentPreviewURL}}" alt="">
					<div ng-if="documentPreviewLoading && !OCRView" style="display: flex;background-color: #e5eff1;align-items: center; padding: 10px;">
						<img src="/assets/images/loading.gif" style="margin-right: 20px;height:40px; width:40px;" alt="">
						Please wait image is loading...
					</div>
					<div ng-if="OCRView" class="ocr-view">
						<div class="input" ng-repeat="field in viewingDocument.OCR">
							<label>
								{{field.name}}
							</label>
							<input disabled type="text" ng-model="field.value">
						</div>
					</div>
				</div>
				<div class="bottom" ng-if="!canEnableOCR">
					{{viewingDocument.documentName}}
				</div>
				<div class="bottom ocr" ng-if="canEnableOCR">
					<div ng-if="viewingDocument.OCR" class="buttons">
						<div ng-class='{"preview-btn":true, "active":!OCRView}' ng-click="closeOCRView()">
							<img ng-if="!documentPreviewLoading" ng-src="{{documentPreviewURL}}" alt="Preview">
						</div>
						<div ng-class='{"ocr-btn":true, "active":OCRView}' ng-click="showOCRView()" ng-if="viewingDocument.OCR.length">
							<img src="/assets/images/ocrsearch.png" alt="">
							<div style="position: absolute; top:32px; left:32px;font-size: 10px;">OCR</div>
						</div>						
					</div>
					<div>
						{{viewingDocument.documentName}}					
					</div>
					<div>
						<a class="verify-btn" ng-click="showOCRView()" ng-if="!OCRView && viewingDocument.OCR.length">Verify OCR</a>
						<a class="done-btn" ng-click="hideDocumentPreview()" ng-if="OCRView || !viewingDocument.OCR.length">Done</a>
					</div>
				</div>
			</div>
		</div>

		<div class="navigation">
			<navigation />			
		</div>
		<div class="area">
			<div class="menubar"><toolbar /></div>
			<div class="display-area" ui-view></div>
		</div>
</div>
<block-chain />