<div class="settings-area">
	<div class="navigation">
		<a ui-sref-active="active" class="tab" ui-sref="main.settings.profile"> Personal Details </a>
		<a ui-sref-active="active" class="tab" ui-sref="main.settings.kyc"> KYC </a>	
		<a ui-sref-active="active" class="tab" ui-sref="main.settings.changepassword"> Change Password </a>	
	</div>
	<div class="form-area" ui-view>

	</div>
	<div class="bottom">
		<a class="cancel-btn" ng-click="vm.cancel()">Cancel</a>
		<a class="save-btn" ng-click="vm.save()">Save</a>
	</div>
</div>