@media (max-width: 600px) {
	.settings-area {
		height: 100%;
		display: flex;
		flex-flow: column;
		padding-left: 0px;
		align-items: center;
		.form-area {
			flex-grow: 1;
			width: 343px;
		}
		.navigation {
			padding-top: 10px;
		}
		.tab {
			display: flex;
			padding: 15px;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			opacity: 0.4;
			color: #4f6379;
			text-decoration: none;
			width: auto;
			border: 1px solid #3aafa5;
			&.active{
				opacity: 1;
				background-color: #3aafa5;
				color: white;
			}
		}

		.bottom {
			height: 65px;
			padding-left: 0px;
			background-color: #f2f7f8;
			margin-left: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100vw;
			overflow: hidden;
			.cancel-btn {
				width: 50%;
				height: 100%;
				border-radius: 0px;
				background-color: #4f6379;
				display: flex;
				align-items: center;
				color: white;
				justify-content: center;
				cursor: pointer;
				&:hover {
					opacity: 0.9;
				}
			}
			.save-btn {
				width: 50%;
				height: 100%;
				border-radius: 0px;
				background-color: #3bada5;
				margin-left: 0px;
				display: flex;
				align-items: center;
				color: white;
				justify-content: center;
				cursor: pointer;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		.cpinput {
			display: flex;
			flex-flow: column;
			margin: 10px;
			position: relative;
			label {
				font-size: 14px;
				color: #4f6379;
				margin-bottom: 12px;
			}
			input {
				height: 45px;
				width: 320px;
				border-radius: 3px;
				border: 1px solid #e7ecf1;
				padding: 15px;
				font-size: 14px;
				color: #4f6379;
			}
		}
		.error {
			font-size: 12px;
			margin-top: 30px;
			color: red;
		}
	}
}