<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>KYCK - Investment Portal</title>
    <meta name="description" content="One Portal, One KYC, Ready for the World" />
    <meta name="keywords" content="Investment, KYC, Singapore, Thailand, Malaysia, Fintech, investment portal, derivatives, brokerage, banks, mutual funds, stocks, Insurance, trading" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}" defer></script>
    {% } %}
</head>
<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="flex-row" style="min-height: 100%;background-color: white;" ui-view></div>
</body>
</html>